/* Skin CSS */

.socialcount {
	color: #fff;
}
.socialcount {
	overflow: visible;
}
.socialcount li {
	background-color: #464646;
	background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,.5) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,.5) 100%);
	background-image: linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,.5) 100%);
}
.socialcount li a {
	padding: 0;
	position: relative;
	z-index: 2;

	-webkit-perspective: 120px;
	-moz-perspective: 120px;
	perspective: 120px;
}
.social-icon {
	position: absolute;
	top: 50%;
	left: .25em;
	margin-top: -7px !important;
	z-index: 3;
}
.socialcount.grade-a > li .count {
	background: #aaa;
	border-radius: 3px;
	margin: 0;
	width: 100%;
	border-bottom: 2px solid transparent;

	-webkit-transform-origin: center top;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: -webkit-transform .35s cubic-bezier(0.500, 0.250, 0.210, 1.435), color .1s linear;
	-moz-transform-origin: center top;
	-moz-transform-style: preserve-3d;
	-moz-transition: -moz-transform .35s cubic-bezier(0.500, 0.250, 0.210, 1.435), color .1s linear;
	transform-origin: center top;
	transform-style: preserve-3d;
	transition: -moz-transform .35s cubic-bezier(0.500, 0.250, 0.210, 1.435), color .1s linear;
}

.socialcount.grade-a > li a:focus .count,
.socialcount.grade-a > li:hover .count,
.socialcount.grade-a > li.hover .count {
	color: transparent;

	border-bottom: 2px solid #666;
	background-image: -webkit-linear-gradient( rgba(0,0,0,.35) 10%, rgba(255,255,255,0) 100% );
	background-image: -moz-linear-gradient( rgba(0,0,0,.35) 10%, rgba(255,255,255,0) 100% );
	background-image: linear-gradient( rgba(0,0,0,.35) 10%, rgba(255,255,255,0) 100% );
	-webkit-transform: rotateX(110deg);
	-moz-transform: rotateX(110deg);
}
.socialcount.grade-a > li a:focus .social-icon,
.socialcount.grade-a > li:hover .social-icon,
.socialcount.grade-a > li.hover .social-icon {
	display: none;
}

.socialcount.grade-a .button {
	/* TODO: Something about non-transforming browsers. */
}