.social-icon {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	*margin-right: 5px;
}
.socialcount.grade-a.activate-on-hover > li.hover.loaded .social-icon,
.socialcount.grade-a.activate-on-click > li.hover.loaded .social-icon {
	display: none;
}
.socialcount-small.grade-a.activate-on-hover > li.hover.loaded .social-icon,
.socialcount-small.grade-a.activate-on-click > li.hover.loaded .social-icon,
.socialcount-large.grade-a.activate-on-hover > li.hover.loaded .social-icon,
.socialcount-large.grade-a.activate-on-click > li.hover.loaded .social-icon {
	display: inline-block;
	*display: inline;
	zoom: 1;
}

@import "compass-sprite.scss";

/* HD icons */
@media (min--moz-device-pixel-ratio: 1.5),
			(-o-min-device-pixel-ratio: 3/2),
			(-webkit-min-device-pixel-ratio: 1.5),
			(min-device-pixel-ratio: 1.5),
			(min-resolution: 1.5dppx) {

	.social-icon {
		-webkit-background-size: auto 17px;
		-moz-background-size: auto 17px;
		-o-background-size: auto 17px;
		background-size: auto 17px;
		background-image: sprite-url($icon-hd);
	}
}