.socialcount {
	list-style: none;
	padding-left: 0;
	margin: 0;
	color: #fff;
	font-size: .875em;
	line-height: 2.2em;
	overflow: hidden;
}
.socialcount .icon {
	vertical-align: middle;
}
.socialcount-large {
	line-height: normal;
}
.socialcount :link,
.socialcount :visited {
	color: #fff;
}
.socialcount > li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	
	position: relative;
	vertical-align: top;
	background-color: #cdcccc;
	font-weight: bold;
	min-width: 80px;
	text-align: center;
	white-space: nowrap;
}
.socialcount > li,
.socialcount .button {
	border-radius: 3px;
}
.socialcount-small > li {
	min-width: 0;
}
.socialcount-large > li {
	float: left;
	margin: 0 .6em .6em 0;
}
.socialcount.recommend .facebook {
	min-width: 120px;
}
.socialcount-small.recommend .facebook {
	min-width: 0;
}
.socialcount-large > li,
.socialcount-large.recommend .facebook {
	min-width: 96px;
}
.socialcount > li > a {
	display: block;
	padding: 0 5px;
}
.socialcount-small > li > a {
	padding-left: 8px;
	padding-right: 8px;
}
.socialcount-large > li > a {
	padding: 12px 5px 8px;
}

.socialcount .count {
	color: inherit;
	position: relative;
	display: inline-block;
	*display: inline;
	zoom: 1;
	text-align: center;
	margin-left: 6px;
}
.socialcount-large .count {
	display: block;
	width: 100%;
	margin-left: 0;
	padding-top: 10px;
}
.socialcount .count.minimum {
	font-weight: normal;
	text-decoration: none;
}

.socialcount .facebook iframe {
	height: 21px;
	width: 90px; /* recommend */
}
.socialcount.like .facebook iframe {
	width: 48px; /* like */
}

.socialcount .button {
	display: none;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: -6px;
	text-align: center;
}
.socialcount-large .button {
	bottom: 2px;
}

.socialcount > li:hover,
.socialcount-small > li:hover .button {
	background-color: #464646;
}
.socialcount.js > li:hover .count {
	text-indent: -999px;
}
.socialcount.js > li:hover .icon {
	display: none;
}
.socialcount-small.js > li:hover .icon,
.socialcount-large.js > li:hover .icon {
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.socialcount > li:hover .button {
	cursor: pointer;
	display: block;
}

/* Inline loading */
.socialcount .loading {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	background-color: #aaaaaa;
	background-color: rgba(170, 170, 170, 0.7);
	color: #000;
	text-transform: uppercase;
	font-size: .75em;
	text-align: center;
}
.socialcount-large .loading {
	padding-top: 30%;
}
.socialcount .loading .dot {
	display: inline-block;
	/* no ie7 compat needed here, just shows the text links */
	width: 6px;
	height: 6px;
	margin: 0 3px;
	background: #fff;
	opacity: 0;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	-webkit-animation: socialCountLoadingFade .6s infinite;
	-moz-animation: socialCountLoadingFade .6s infinite;
	animation: socialCountLoadingFade .6s infinite;
}

.socialcount .loading .dot:nth-child(1) {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	animation-delay: 0s;
}

.socialcount .loading .dot:nth-child(2) {
	-webkit-animation-delay: .05s;
	-moz-animation-delay: .05s;
	animation-delay: .05s;
}

.socialcount .loading .dot:nth-child(3) {
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	animation-delay: .1s;
}

@-webkit-keyframes socialCountLoadingFade {
	0% { opacity: 0; }
	50% { opacity: 0.8; }
	100% { opacity: 0; }
}

@-moz-keyframes socialCountLoadingFade {
	0% { opacity: 0;  }
	50% { opacity: 0.8; }
	100% { opacity: 0; }
}

@keyframes socialCountLoadingFade {
	0% { opacity: 0; }
	50% { opacity: 0.8; }
	100% { opacity: 0; }
}