.social-icon {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  *margin-right: 5px;
}

.socialcount.grade-a.activate-on-hover > li.hover .social-icon,
.socialcount.grade-a.activate-on-click > li.hover.active .social-icon {
  display: none;
}

.socialcount-small.grade-a.activate-on-hover > li.hover .social-icon,
.socialcount-small.grade-a.activate-on-click > li.hover.active .social-icon,
.socialcount-large.grade-a.activate-on-hover > li.hover .social-icon,
.socialcount-large.grade-a.activate-on-click > li.hover.active .social-icon {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.icon-sprite, .icon-facebook, .icon-googleplus, .icon-pinterest, .icon-share, .icon-twitter {
  background: url('icon-sd6cd4d0ec7.png') no-repeat;
}

.icon-facebook {
  background-position: 0 0;
  height: 15px;
  width: 17px;
}

.icon-googleplus {
  background-position: -21px 0;
  height: 17px;
  width: 20px;
}

.icon-pinterest {
  background-position: -45px 0;
  height: 15px;
  width: 11px;
}

.icon-share {
  background-position: -60px 0;
  height: 16px;
  width: 20px;
}

.icon-twitter {
  background-position: -84px 0;
  height: 15px;
  width: 17px;
}

/* HD icons */
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .social-icon {
    -webkit-background-size: auto 17px;
    -moz-background-size: auto 17px;
    -o-background-size: auto 17px;
    background-size: auto 17px;
    background-image: url('icon-hd-s816aa7a6b3.png');
  }
}
