/* line 7, socialcount-icons.scss */
.icon {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}

/* line 66, icon/*.png */
.icon-sprite, .icon-facebook, .icon-googleplus, .icon-share, .icon-twitter {
  background: url('/SocialCount/src/icon-s8df06ae4f6.png') no-repeat;
}

/* line 60, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-facebook {
  background-position: 0 0;
  height: 15px;
  width: 17px;
}

/* line 60, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-googleplus {
  background-position: -21px 0;
  height: 17px;
  width: 20px;
}

/* line 60, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-share {
  background-position: -45px 0;
  height: 16px;
  width: 20px;
}

/* line 60, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-twitter {
  background-position: -69px 0;
  height: 15px;
  width: 17px;
}

/* HD icons */
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  /* line 26, socialcount-icons.scss */
  .icon {
    -webkit-background-size: auto 17px;
    -moz-background-size: auto 17px;
    -o-background-size: auto 17px;
    background-size: auto 17px;
    background-image: url('/SocialCount/src/icon-hd-s919031e681.png');
  }
}
