.socialcount {
	list-style: none;
	padding-left: 0;
	margin: 0;
	color: #fff;
	font-size: .875em;
	line-height: 2.2em;
}
.socialcount-large {
	line-height: normal;
}
.socialcount :link,
.socialcount :visited {
	color: #fff;
}
.socialcount > li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding: 0 .3em;
	position: relative;
	vertical-align: top;
	background-color: #cdcccc;
	font-weight: bold;
	border-radius: 3px;
	min-width: 60px;
	text-align: center;
}
.socialcount-small > li {
	min-width: 0;
	padding-left: .5em;
	padding-right: .5em;
}
.socialcount-large > li {
	float: left;
	clear: left;
	margin-bottom: .6em;
	padding: .8em .3em;
	min-width: 90px; /* 90px facebook recommend, matches iframe width above */
}
.socialcount-large.like > li {
	min-width: 60px; /* 60px facebook like, anything gte 58px */
}
.socialcount > li > a {
	display: block;
}

.socialcount .count {
	color: inherit;
	position: relative;
	display: inline-block;
	*display: inline;
	zoom: 1;
	text-align: center;
	z-index: 2;
	margin-left: 6px;
}
.socialcount-large .count {
	display: block;
	width: 100%;
	margin-left: 0;
}
.socialcount .count.minimum {
	font-weight: normal;
	text-decoration: none;
	font-size: 130%;
}

.socialcount .facebook iframe {
	height: 21px;
}
.socialcount .facebook a,
.socialcount .facebook iframe {
	width: 90px; /* recommend */
}
.socialcount.like .facebook a,
.socialcount.like .facebook iframe {
	width: 48px; /* like */
}
.socialcount.socialcount-small .facebook a,
.socialcount.socialcount-small .facebook iframe {
	width: auto;
}

.socialcount .button {
	display: none;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: -6px;
	text-align: center;
}
.socialcount-large .button {
	bottom: 2px;
}
.socialcount .sharethis .button {
	bottom: 0;
}
.socialcount-large .sharethis .button {
	bottom: 10px;
}

.socialcount > li:hover {
	background-color: #464646;
}
.socialcount.js > li:hover .count {
	text-indent: -999px;
}
.socialcount-small.js > li:hover .count {
	text-indent: 0;
}
.socialcount > .sharethis:hover {
	cursor: pointer;
}
.socialcount > li:hover .button {
	cursor: pointer;
	display: block;
}

/* Inline loading */
.socialcount .loading {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	background-color: #aaaaaa;
	background-color: rgba(170, 170, 170, 0.7);
	color: #000;
	text-transform: uppercase;
	font-size: .75em;
	text-align: center;
}
.socialcount .loading .dot {
	display: inline-block;
	/* no ie7 compat needed here, just shows the text links */
	width: 6px;
	height: 6px;
	margin: 0 3px;
	margin-top: 40%;
	background: #fff;
	opacity: 0;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	-webkit-animation: socialCountLoadingFade .6s infinite;
	-moz-animation: socialCountLoadingFade .6s infinite;
	animation: socialCountLoadingFade .6s infinite;
}

.socialcount .loading .dot:nth-child(1) {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	animation-delay: 0s;
}

.socialcount .loading .dot:nth-child(2) {
	-webkit-animation-delay: .05s;
	-moz-animation-delay: .05s;
	animation-delay: .05s;
}

.socialcount .loading .dot:nth-child(3) {
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	animation-delay: .1s;
}

@-webkit-keyframes socialCountLoadingFade {
	0% { opacity: 0; }
	50% { opacity: 0.8; }
	100% { opacity: 0; }
}

@-moz-keyframes socialCountLoadingFade {
	0% { opacity: 0;  }
	50% { opacity: 0.8; }
	100% { opacity: 0; }
}

@keyframes socialCountLoadingFade {
	0% { opacity: 0; }
	50% { opacity: 0.8; }
	100% { opacity: 0; }
}