/* Skin CSS */

.socialcount {
	color: #fff;
	font-size: .875em;
	line-height: 2.2em;
}
.socialcount > li {
	background-color: #999;
}
.socialcount > li,
.socialcount > li > a:focus {
	border-radius: 5px;
}
.socialcount > li > a:focus,
.socialcount > li.hover.loaded {
	background-color: #464646;
}
/* Special class added to count when it's >= the minimum */
.socialcount .count.minimum {
}


/* Base CSS */

.socialcount {
	list-style: none;
	padding-left: 0;
	margin: 0 0 .6em 0;
	overflow: hidden;
}
.socialcount-large {
	line-height: normal;
}
.socialcount :link,
.socialcount :visited {
	color: inherit;
}
.socialcount > li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	position: relative;
	vertical-align: top;
	min-width: 80px;
	min-height: 30px;
	text-align: center;
	white-space: nowrap;
	*margin-right: 4px;
}
.socialcount-small > li {
	min-width: 0;
}
.socialcount-large > li {
	float: left;
	margin: 0 .6em .6em 0;
	min-width: 105px;
}

.socialcount > li > a {
	display: block;
	padding: 0 5px;
	text-decoration: none;
	color: inherit;
}
.socialcount-small > li > a {
	padding-left: 8px;
	padding-right: 8px;
}
.socialcount-large > li > a {
	padding: 12px 5px 8px;
}

.socialcount .count {
	color: inherit;
	position: relative;
	display: inline-block;
	*display: inline;
	zoom: 1;
	text-align: center;
	margin-left: 6px;
}
.socialcount-large .count {
	display: block;
	width: 100%;
	margin-left: 0;
	padding-top: 10px;
}
.socialcount-small .count {
	margin-left: 0;
}

.socialcount .button {
	display: none;
	width: 100%;
	position: absolute;
	left: 0;
	top: 5px;
	text-align: center;
	pointer-events: none;
	line-height: 100%;
}
.socialcount .button iframe {
	pointer-events: auto;
}
.socialcount-large .button {
	top: auto;
	bottom: 2px;
}

.socialcount.grade-a.activate-on-hover > li.hover.loaded .count,
.socialcount.grade-a.activate-on-click > li.hover.loaded .count {
	text-indent: -999px;
}

.socialcount.grade-a.activate-on-hover > li.hover.loaded .button,
.socialcount.grade-a.activate-on-click > li.hover.loaded .button {
	display: block;
}
.socialcount.grade-a.activate-on-hover > li.hover.loaded > a,
.socialcount.grade-a.activate-on-click > li.hover.loaded > a {
	cursor: default;
}
.socialcount-small.grade-a.activate-on-hover > li.hover.loaded > a,
.socialcount-small.grade-a.activate-on-click > li.hover.loaded > a,
.socialcount.grade-a.activate-on-hover > li.hover.loaded .button iframe,
.socialcount.grade-a.activate-on-click > li.hover.loaded .button iframe {
	cursor: pointer;
}
