.socialcount {
	list-style: none;
	line-height: 2.7em;
	padding-left: 0;
	font-size: .8125em;
	margin: 0;
}
/* These classes are added in JS */
.socialcount.vertical,
.socialcount.horizontal,
.socialcount.horizontal-inline {
	font-size: 13px; /* To fix BB OS6 issue with default font-size */
}
.socialcount.vertical {
	overflow: hidden;
}
.socialcount :link,
.socialcount :visited {
	color: #000;
}
.socialcount > li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding: 0 .5em;
	position: relative;
	vertical-align: top;
}
.socialcount.vertical > li {
	float: left;
	clear: left;
	padding-bottom: .6em;
}
.socialcount .count {
	font-weight: normal;
	border: 1px solid #bbb;
	color: #000;
	background-color: #fff;
	padding: 0 .5em;
	position: relative;
	border-radius: 3px;
	margin-left: .8em;
	-webkit-box-shadow: 1px 1px 1px 0 #ddd;
	box-shadow: 1px 1px 1px 0 #ddd;
	z-index: 4;
	display: inline-block;
	*display: inline;
	zoom: 1;
	min-width: 35px;
	text-align: center;
}
.socialcount.horizontal-inline .count {
	padding-top: .3em;
	padding-bottom: .3em;
	line-height: 1.2em;
	margin-top: 4px;
}
.socialcount.vertical .count,
.socialcount.horizontal .count {
	display: block;
	margin-left: 0;
	margin-top: -2px;
}

.socialcount .count:before {
	content: '';
	position: absolute;
	left: -4px;
	top: .5em;
	border: 1px solid #999;
	background-color: inherit;
	border-right: none;
	border-bottom: none;
	width: 6px;
	height: 6px;

	-webkit-transform: rotate(315deg); 
	-moz-transform: rotate(315deg); 
	-ms-transform: rotate(315deg); /* IE9 */
	-o-transform: rotate(315deg); 
	transform: rotate(315deg);
}
.socialcount.no-transforms .count:before {
	display: none;
}
.socialcount.vertical .count:before,
.socialcount.horizontal .count:before {
	left: .5em;
	top: -4px;

	-webkit-transform: rotate(45deg); 
	-moz-transform: rotate(45deg); 
	-ms-transform: rotate(45deg); /* IE9 */
	-o-transform: rotate(45deg); 
	transform: rotate(45deg);
}

/* Text-only share links */
.socialcount .facebook,
.socialcount .twitter,
.socialcount .googleplus {
	font-weight: bold;
}
.socialcount .facebook,
.socialcount .facebook :link,
.socialcount .facebook :visited {
	color: #3b5998;
}
.socialcount .twitter,
.socialcount .twitter :link,
.socialcount .twitter :visited {
	color: #00aced;
}
.socialcount .googleplus,
.socialcount .googleplus :link,
.socialcount .googleplus :visited {
	color: #db583b;
}

/* Remote social widgets */
.socialcount.counts.horizontal-inline .googleplus a,
.socialcount.counts.horizontal-inline .twitter a,
.socialcount.counts.horizontal-inline .facebook a {
	text-align: right;
}
.socialcount .googleplus a,
.socialcount .g-plusone,
.socialcount .twitter a,
.socialcount .facebook a,
.socialcount .facebook iframe {
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.socialcount .googleplus a,
.socialcount .g-plusone {
	width: 2.462em; /* 56px */
}
.socialcount .twitter a {
	width: 4.307em; /* 32px */
}
.socialcount .facebook iframe {
	height: 1.615em; /* 21px */
}
.socialcount .facebook a,
.socialcount .facebook iframe {
	width: 6.923em; /* 90px recommend */
}
.socialcount.like .facebook a,
.socialcount.like .facebook iframe {
	width: 3.692em; /* 48px like */
}

.socialcount iframe,
.socialcount .twitter .twitter-share-button {
	cursor: pointer;
	position: absolute !important;
	left: 6px !important;
	top: 6px !important;
}
.socialcount .googleplus > div {
	display: inline !important;
}
.socialcount.vertical > li {
	min-width: 6.923em; /* 90px facebook recommend, matches iframe width above */
}
.socialcount.vertical.like > li {
	min-width: 4.615em; /* 60px facebook like, anything gte 58px */
}
.socialcount .active a {
	visibility: hidden;
}

/* Inline loading */
.socialcount .loading {
	position: absolute;
	left: 0;
	top: 0;
	width: 96%;
	height: 100%;
	z-index: 3;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.7);
	color: #000;
	padding: 0 .6em;
	padding-left: 1em;
	text-transform: uppercase;
	font-size: .75em;
}
.socialcount .loading .dot {
	display: inline-block;
	/* no ie7 compat needed here, just shows the text links */
	width: 6px;
	height: 6px;
	margin: 0 3px;
	background: #000;
	opacity: 0;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	-webkit-animation: socialCountLoadingFade .6s infinite;
	-moz-animation: socialCountLoadingFade .6s infinite;
	animation: socialCountLoadingFade .6s infinite;
}

.socialcount .loading .dot:nth-child(1) {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	animation-delay: 0s;
}

.socialcount .loading .dot:nth-child(2) {
	-webkit-animation-delay: .05s;
	-moz-animation-delay: .05s;
	animation-delay: .05s;
}

.socialcount .loading .dot:nth-child(3) {
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	animation-delay: .1s;
}

@-webkit-keyframes socialCountLoadingFade {
	0% { opacity: 0; }
	50% { opacity: 0.8; }
	100% { opacity: 0; }
}

@-moz-keyframes socialCountLoadingFade {
	0% { opacity: 0;  }
	50% { opacity: 0.8; }
	100% { opacity: 0; }
}

@keyframes socialCountLoadingFade {
	0% { opacity: 0; }
	50% { opacity: 0.8; }
	100% { opacity: 0; }
}